* {
    box-sizing: border-box;
}

body{
    width: 375px;
    background-color: #f3eae3;
}

/* --- MAIN --- */

.main {
    /* border: 1px solid red; */
    width: 75%;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.main-section{
    padding: 5%;
}

/* --- IMAGEN --- */

.main-picture__image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* --- TEXTOS --- */

.main-section__text-zone__top-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0.7rem 0;
}
.main-section__text-zone__main-title{
    font-family: "Fraunces", serif;
    font-weight: 700;
    line-height: 1;
}
.main-section__text-zone__description{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: small;
    line-height: 1.7;
}

/* --- PRECIOS --- */

.main-section__buy-zone__price{
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
}
.price__new{
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: xx-large;
    color: #3d8168;
}
.price__old{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: small;
    text-decoration: line-through;
}

/* --- BOTÓN --- */

.submit__button{
    background-color: #3d8168;
    border-radius: 10px;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit__button:hover{
    background-color: #229868;
    cursor: pointer;
}
.submit__button:active{
    background-color: #184131;
}
.button__icon{
    padding: 5px;
}
.button__text{
    color: white;
    /* font-weight: bold; */
    font-weight: 700;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

