* {
    box-sizing: border-box;
}

body{
    width: 375px;
}
.main {
    border: 1px solid red;
    max-width: 400px;
}

.main-picture__image {
    max-width: 400px;
}

.submit__button{
    background-color: #3d8168;
    border-radius: 10px;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit__button:hover{
    background-color: #229868;
    cursor: pointer;
}
.submit__button:active{
    background-color: #184131;
}
.button__icon{
    padding: 5px;
}
.button__text{
    color: white;
    /* font-weight: bold; */
    font-weight: 700;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

