* {
    box-sizing: border-box;
}

body{
    width: 375px;
    background-color: #f3eae3;
}

/* --- MAIN --- */

.main {
    /* border: 1px solid red; */
    width: 90%;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.main-picture__image {
    width: 100%;
}
.main-section{
    padding: 5%;
}
/* --- TEXTOS --- */


/* --- BOTÓN --- */

.submit__button{
    background-color: #3d8168;
    border-radius: 10px;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit__button:hover{
    background-color: #229868;
    cursor: pointer;
}
.submit__button:active{
    background-color: #184131;
}
.button__icon{
    padding: 5px;
}
.button__text{
    color: white;
    /* font-weight: bold; */
    font-weight: 700;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

